<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/Black_Roughdraft.png" class="logo-image"> Magic Counter
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngSwitch]="currentRoute" id="navbarMenu" class="collapse navbar-collapse">
    <ul *ngSwitchCase="'/game-board'" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="menu-button" mat-button (click)="newGame()">New</a>
      </li>
      <li class="nav-item">
        <a class="menu-button" mat-button (click)="saveStatistics()">Save</a>
      </li>
      <li class=" nav-item">
        <a class="menu-button" mat-button data-toggle="modal" data-target="#settingsModal">Settings</a>
      </li>
      <li class="nav-item">
        <a class="menu-button" mat-button color="primary" routerLink="/statistics">Statistics</a>
      </li>
    </ul>
    <ul *ngSwitchCase="'/statistics'" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="menu-button" mat-button>Clear</a>
      </li>
      <li class="nav-item">
        <a class="menu-button" mat-button color="primary" routerLink="/" role="button">Game board</a>
      </li>
    </ul>
  </div>
</nav>
<app-settings-form dialogId="settingsModal"></app-settings-form>