.card {   
    min-height: 200px;
}

.card-header {
    background-color: #b0bec5;
}

.additional-info {
    min-height: 40px;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icon-turn {
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
}

.icon-medium{
    font-size: 1.8em;
}

.icon-large {
    font-size: 2.4em;
}

.life-total{
    font-size: 3.2em;
}