<div class="card" [ngClass]="{'rotate': player.Reversed }">
  <div class="card-header">
    <div class="row">
      <div class="col col-8">
        <h4>{{player.Name}}</h4>
      </div>
      <div class="col col-4 text-right">
        <div class="icon-turn">
          <a (click)="reversePanel()">
            <mat-icon class="icon-medium">rotate_left</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div class="container">
        <div class="row align-items-center">
          <div class="col text-center">
            <a mat-mini-fab color="primary" (click)="decrementLife()">
              <mat-icon>remove</mat-icon>
            </a>
          </div>
          <div class="col text-center">
            <span class="life-total">{{player.LifeTotal}}</span>
          </div>
          <div class="col text-center">
            <a mat-mini-fab color="primary" (click)="incrementLife()">
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </div>
        <div class="row additional-info">
          <div class="col text-center">

          </div>
          <div class="col text-center">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>