RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} /game-board$ [OR]
RewriteCond %{REQUEST_URI} /statistics$ 
RewriteRule (.*) / [L]