# Checks if the rewrite mod is on.
<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{HTTPS} !=on
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteCond %{REQUEST_URI} /game-board$
	RewriteRule . / [R=302,L]
</IfModule>